In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Fase 1
Choques el√°sticos, masa 2 en reposo

1. $m_1 = m_2$
2. $m_1 < m_2$
3. $m_1 << m_2$
4. $m_1 > m_2$
5. $m_1 >> m_2$

In [71]:
masas_1_1 = np.array([0, 0, 0, 0.06, 0.3]) + 0.2177
masas_2_1 = np.array([0, 0.06, 0.3, 0, 0]) + 0.2177

masas_2_1[2]/masas_1_1[2]

2.3780431786862657

In [23]:
F1 = pd.read_csv("../data/Datos impactos.csv", delimiter=";", decimal=",",
                    usecols=(range(0,14)),
                    skiprows=1).dropna(how="all")
F1.v1f_2 = F1.v1f_2*-1
F1.v1f_3 = F1.v1f_3*-1
F1

,v1_1,v2f_1,v1_2,v1f_2,v2f_2,v1_3,v1f_3,v2f_3,v1_4,v1f_4,v2f_4,v1_5,v1f_5,v2f_5
0,0.2738,0.2567,0.6216,-0.0599,0.5053,0.5228,-0.1926,0.2908,0.4929,0.0764,0.5274,0.7024,0.2936,0.9396
1,0.3170,0.2976,0.5267,-0.0487,0.4345,0.3332,-0.1216,0.1818,0.5333,0.0705,0.5766,0.5772,0.2438,0.7753
2,0.3042,0.2831,0.5985,-0.0586,0.4905,0.2495,-0.0894,0.1315,0.5901,0.0927,0.6333,0.5686,0.2390,0.7603
3,0.2354,0.2170,0.6770,-0.0622,0.5519,0.4134,-0.1496,0.2315,0.7259,0.1004,0.7748,0.5892,0.2453,0.7878
4,0.2706,0.2508,0.6864,-0.0694,0.5664,0.5062,-0.1790,0.2843,0.9714,0.1344,1.0166,0.5941,0.2435,0.7988

In [24]:
F1_p = pd.DataFrame()
F1_p["p1_1"] = round(F1.v1_1*masas_1_1[0], 4)
F1_p["p2f_1"] = round(F1.v2f_1*masas_2_1[0], 4)
for i in range(1,5):
    F1_p["p1_"+str(i+1)] = round(F1["v1_"+str(i+1)]*masas_1_1[i], 4)
    F1_p["p1f_"+str(i+1)] = round(F1["v1f_"+str(i+1)]*masas_1_1[i], 4)
    F1_p["p2f_"+str(i+1)] = round(F1["v2f_"+str(i+1)]*masas_2_1[i], 4)
F1_p

,p1_1,p2f_1,p1_2,p1f_2,p2f_2,p1_3,p1f_3,p2f_3,p1_4,p1f_4,p2f_4,p1_5,p1f_5,p2f_5
0,0.0596,0.0559,0.1353,-0.0130,0.1403,0.1138,-0.0419,0.1505,0.1369,0.0212,0.1148,0.3636,0.1520,0.2046
1,0.0690,0.0648,0.1147,-0.0106,0.1207,0.0725,-0.0265,0.0941,0.1481,0.0196,0.1255,0.2988,0.1262,0.1688
2,0.0662,0.0616,0.1303,-0.0128,0.1362,0.0543,-0.0195,0.0681,0.1639,0.0257,0.1379,0.2944,0.1237,0.1655
3,0.0512,0.0472,0.1474,-0.0135,0.1533,0.0900,-0.0326,0.1198,0.2016,0.0279,0.1687,0.3050,0.1270,0.1715
4,0.0589,0.0546,0.1494,-0.0151,0.1573,0.1102,-0.0390,0.1472,0.2698,0.0373,0.2213,0.3076,0.1261,0.1739

In [67]:
F1_dp = pd.DataFrame()
F1_dp["dp_1"] = round(F1_p.p1_1-F1_p.p2f_1, 4)
for i in range(2,6):
    F1_dp["dp_"+str(i)] = round(F1_p["p1_"+str(i)]-(F1_p["p2f_"+str(i)]+F1_p["p1f_"+str(i)]), 4)
F1_dp_prom = round(F1_dp.mean(), 4)
F1_dp_std = round(F1_dp.std(ddof=1), 4)
F1_dp.values*100/F1_p[["p1_1", "p1_2", "p1_3", "p1_4", "p1_5"]].values

array([[ 6.20805369,  5.9127864 ,  4.56942004,  0.65741417,  1.92519252],
       [ 6.08695652,  4.01046207,  6.75862069,  2.02565834,  1.27175368],
       [ 6.94864048,  5.29547199, 10.49723757,  0.18303844,  1.76630435],
       [ 7.8125    ,  5.15603799,  3.11111111,  2.48015873,  2.13114754],
       [ 7.30050934,  4.81927711,  1.81488203,  4.15122313,  2.47074122]])

In [26]:
F1_e = pd.DataFrame()
F1_e["e_1"] = round(F1.v2f_1/F1.v1_1, 4)
for i in range(2,6):
    F1_e["e_"+str(i)] = round((F1["v2f_"+str(i)]-F1["v1f_"+str(i)])/F1["v1_"+str(i)],4)
F1_e_prom = round(F1_e.mean(),4)
F1_e_std = round(F1_e.std(ddof=1),4)
F1_e_prom

e_1    0.9311
e_2    0.9155
e_3    0.9116
e_4    0.9235
e_5    0.9225
dtype: float64

# Fase 2
Choques totalmente inelasticos, masa 2en reposo

1. $m_1 = m_2$
2. $m_1 < m_2$
4. $m_1 > m_2$

In [46]:
masas_1_2 = np.array([0, 0, 0.06]) + 0.2177
masas_2_2 = np.array([0, 0.06, 0]) + 0.2177

In [47]:
F2 = pd.read_csv("../data/Datos impactos.csv", delimiter=";", decimal=",",
                    usecols=(range(14,23)),
                    skiprows=1).dropna(how="all")
F2

     v1_6   v1f_6   v2f_6    v1_7   v1f_7   v2f_7    v1_8   v1f_8   v2f_8
0  0.5341  0.2453  0.2492  0.5404  0.2115  0.2196  0.6026  0.3067  0.3150
1  0.4133  0.1905  0.1960  0.5340  0.1983  0.2077  0.5965  0.3032  0.3111
2  0.6975  0.3201  0.3247  0.5181  0.2021  0.2055  0.6457  0.3293  0.3364
3  0.7731  0.3380  0.3451  0.6884  0.2623  0.2703  0.6128  0.3034  0.3104
4  0.6539  0.2882  0.2947  0.6509  0.2467  0.2560  0.4829  0.2463  0.2527

In [48]:
F2_p = pd.DataFrame()
for i in range(0,3):
    F2_p["p1_"+str(i+6)] = round(F2["v1_"+str(i+6)]*masas_1_2[i], 4)
    F2_p["p1f_"+str(i+6)] = round(F2["v1f_"+str(i+6)]*masas_1_2[i], 4)
    F2_p["p2f_"+str(i+6)] = round(F2["v2f_"+str(i+6)]*masas_2_2[i], 4)
F2_p

     p1_6   p1f_6   p2f_6    p1_7   p1f_7   p2f_7    p1_8   p1f_8   p2f_8
0  0.1163  0.0534  0.0543  0.1176  0.0460  0.0610  0.1673  0.0852  0.0686
1  0.0900  0.0415  0.0427  0.1163  0.0432  0.0577  0.1656  0.0842  0.0677
2  0.1518  0.0697  0.0707  0.1128  0.0440  0.0571  0.1793  0.0914  0.0732
3  0.1683  0.0736  0.0751  0.1499  0.0571  0.0751  0.1702  0.0843  0.0676
4  0.1424  0.0627  0.0642  0.1417  0.0537  0.0711  0.1341  0.0684  0.0550

In [69]:
F2_dp = pd.DataFrame()
for i in range(6,9):
    F2_dp["dp_"+str(i)] = round(F2_p["p1_"+str(i)]-(F2_p["p2f_"+str(i)]+F2_p["p1f_"+str(i)]), 4)
F2_dp.values*100/F2_p[["p1_6", "p1_7", "p1_8"]].values

array([[ 7.39466896,  9.01360544,  8.06933652],
       [ 6.44444444, 13.24161651,  8.27294686],
       [ 7.50988142, 10.37234043,  8.19854992],
       [11.64587047, 11.80787191, 10.7520564 ],
       [10.88483146, 11.9266055 ,  7.97912006]])

In [50]:
F2_e = pd.DataFrame()
for i in range(6,9):
    F2_e["e_"+str(i)] = round((F2["v2f_"+str(i)]-F2["v1f_"+str(i)])/F2["v1_"+str(i)],4)
F2_e_prom = round(F2_e.mean(),4)
F2_e_std = round(F2_e.std(ddof=1),4)
F2_e_prom

e_6    0.0093
e_7    0.0130
e_8    0.0125
dtype: float64