In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Fase 1
Choques el√°sticos

In [54]:
F1 = pd.read_csv("../data/Datos impactos.csv", delimiter=";", decimal=",",
                    usecols=(range(0,14)),
                    skiprows=1).dropna(how="all")
F1.v1f_2 = F1.v1f_2*-1
F1.v1f_3 = F1.v1f_3*-1
F1

,v1_1,v2f_1,v1_2,v1f_2,v2f_2,v1_3,v1f_3,v2f_3,v1_4,v1f_4,v2f_4,v1_5,v1f_5,v2f_5
0,0.2738,0.2567,0.6216,-0.0599,0.5053,0.5228,-0.1926,0.2908,0.4929,0.0764,0.5274,0.7024,0.2936,0.9396
1,0.3170,0.2976,0.5267,-0.0487,0.4345,0.3332,-0.1216,0.1818,0.5333,0.0705,0.5766,0.5772,0.2438,0.7753
2,0.3042,0.2831,0.5985,-0.0586,0.4905,0.2495,-0.0894,0.1315,0.5901,0.0927,0.6333,0.5686,0.2390,0.7603
3,0.2354,0.2170,0.6770,-0.0622,0.5519,0.4134,-0.1496,0.2315,0.7259,0.1004,0.7748,0.5892,0.2453,0.7878
4,0.2706,0.2508,0.6864,-0.0694,0.5664,0.5062,-0.1790,0.2843,0.9714,0.1344,1.0166,0.5941,0.2435,0.7988

In [63]:
F1_e = pd.DataFrame()
F1_e["e_1"] = round(F1.v2f_1/F1.v1_1, 4)
for i in range(2,6):
    F1_e["e_"+str(i)] = round((F1["v2f_"+str(i)]-F1["v1f_"+str(i)])/F1["v1_"+str(i)],4)
F1_e_prom = round(F1_e.mean(),4)
F1_e_std = round(F1_e.std(ddof=1),4)
F1_e_std*100/F1_e_prom

e_1    0.773279
e_2    0.830147
e_3    1.711277
e_4    1.743368
e_5    0.758808
dtype: float64

# Fase 2
Choques totalmente inelasticos

In [57]:
F2 = pd.read_csv("../data/Datos impactos.csv", delimiter=";", decimal=",",
                    usecols=(range(14,23)),
                    skiprows=1).dropna(how="all")
F2

     v1_6   v1f_6   v2f_6    v1_7   v1f_7   v2f_7    v1_8   v1f_8   v2f_8
0  0.5341  0.2453  0.2492  0.5404  0.2115  0.2196  0.6026  0.3067  0.3150
1  0.4133  0.1905  0.1960  0.5340  0.1983  0.2077  0.5965  0.3032  0.3111
2  0.6975  0.3201  0.3247  0.5181  0.2021  0.2055  0.6457  0.3293  0.3364
3  0.7731  0.3380  0.3451  0.6884  0.2623  0.2703  0.6128  0.3034  0.3104
4  0.6539  0.2882  0.2947  0.6509  0.2467  0.2560  0.4829  0.2463  0.2527

In [71]:
F2_e = pd.DataFrame()
for i in range(6,9):
    F2_e["e_"+str(i)] = round((F2["v2f_"+str(i)]-F2["v1f_"+str(i)])/F2["v1_"+str(i)],4)
F2_e_prom = round(F2_e.mean(),4)
F2_e_std = round(F2_e.std(ddof=1),4)
F2_e_std

e_6    0.0026
e_7    0.0042
e_8    0.0013
dtype: float64