## Constante de gravitación universal G

### Importe y tratamiento de datos

In [53]:
import pandas as pd
import numpy as np
from astropy import units as u

In [23]:
list=(['Tiempo'], ['Ángulo'])
df=pd.read_csv('data_1.csv', delimiter=' ', decimal=',')
df.columns=['Tiempo','Ángulo']
df['Ángulo']=df['Ángulo']+np.pi
df['Tiempo']=df['Tiempo']*10
df

      Tiempo    Ángulo
0       0.00  0.023593
1       0.83  0.023593
2       1.66  0.023593
3       2.50  0.023593
4       3.33  0.023593
...      ...       ...
1035  874.62  0.008593
1036  875.45  0.009593
1037  876.28  0.010593
1038  877.11  0.011593
1039  877.95  0.015593

[1040 rows x 2 columns]

In [29]:
df.describe()

            Tiempo       Ángulo
count  1040.000000  1040.000000
mean    432.945808     0.031536
std     250.983319     0.118712
min       0.000000    -0.132407
25%     216.162500    -0.093407
50%     432.315000     0.037593
75%     648.470000     0.152843
max     877.950000     0.197593

## Calculando la constante G

$$
  G = \frac{2\pi^2L\theta r^2}{T^2M_2}
$$

In [65]:
T=df['Tiempo'].max()*u.s
theta=df['Ángulo'].max() *u.radian
M=50*u.kg
L=1.2*u.m
r=0.12*u.m
G=(2*np.pi**2*L*theta*r**2)/(T**2*M)
print('El valor de la constante Newton-Cavendish es igual a ', np.round(G, 13))

El valor de la constante Newton-Cavendish es igual a  1.7488e-09 m3 rad / (kg s2)

In [70]:
g=(u.radian*u.m**3)/(u.kg*u.s**2)
G_real=6.674*(10**-11)*g
print('El valor encontrado para G difiere de su valor aceptado unas ', np.round(G/G_real, 3),' veces.')

El valor encontrado para G difiere de su valor aceptado unas  26.203  veces.